.outerDiv
	{
		background-color: #006699;
		color: #fff;
		height: 600px;
		width: 93%;
		margin: 0px auto;
	}
	.leftDiv
	{
		background-color: #efefef;
		color: #000;
		height: 600px;
		width: 600px;
		float: left;
	}
	.rightDiv
	{
		background-color: #efefef;
		color: #000;
		height: 600px;
		width: 1000px;
		float: right;
	}			
.box {
  background-color: #444;
  color: #DDDDDD;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #DDDDDD;
  color: #1;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: 120px 120px 120px 120px;
  grid-auto-flow: column;
 padding: 25px;
}
