.outerDiv
	{
		background-color: #BF8665;
		color: #fff;
		height: 600px;
		width: 1400px;
		margin: 0px auto;
		border-radius: 10px;
	}
	.leftDiv
	{
		background-color: #444;
		color: #000;
		height: 600px;
		width: 600px;
		float: left;
		border-radius: 10px 0px 0px 10px;
	}
	.rightDiv
	{
		background-color: #BF8665;
		color: #000;
		height: 600px;
		width: 750px;
		float: right;
		border-radius: 10px;
	}			
.box {
  background-color: #444;
  color: #DDDDDD;
  border-radius: 10px;
  padding: 10px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #444;
  color: #1;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: 120px 120px 120px 120px;
  grid-auto-flow: column;
 padding: 45px;
}

.my-transparent-button {
    background-color: transparent;
    border-color: transparent;
    border: none;
}
