.outerDiv {
	background-color: #027272;
	color: #fff;
	height: 600px;
	width: 1200px;
	margin: 0px auto;
	border-radius: 10px
}
.leftDiv {
	background-color: #027272;
	color: #000;
	height: 600px;
	width: 600px;
	float: left;
	border-radius: 10px 0px 0px 10px
}
.centerDiv {
	background-color: #027272;
	color: #000;
	height: 600px;
	width: 600px;
	float: left;
	border-radius: 10px
}
.rightDiv {
	background-color: #027272;
	color: #000;
	height: 60px;
	width: 60px;
	float: right;
	border-radius: 10px
}
.box {
	background-color: #89B0BF;
	color: #D8CDBE;
	border-radius: 10px;
	padding: 10px;
	font-size: 150%
}
.wrapper {
	width: 500px;
	height: 475px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 120px);
	grid-template-rows: 120px 120px 120px 120px;
	grid-auto-flow: row;
	padding: 45px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none
}
.wrapper::-webkit-scrollbar {
	display: none
}
.my-transparent-button {
	background-color: transparent;
	border-color: transparent;
	border: none
}
